.img-container {
  width: 100%;
  columns: 3;
  column-gap: 20px;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .img-container {
    width: 100%;
    columns: 2;
    column-gap: 20px;
  }
}

@media (max-width: 576px) {
  .img-container {
    width: 100%;
    columns: 1;
    column-gap: 20px;
  }
}
